In [7]:
import faker
faker.Faker("zh_CN").name()

'王秀荣'

In [16]:
import pandas as pd
import pymysql
conn = pymysql.connect(
    host='127.0.0.1',
    port=3306,
    user='root',
    password='123456',
    database='gra',
    charset='utf8',
    autocommit=True
)
data = pd.read_sql("select * from user_questions",conn)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3936\3345242555.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql("select * from user_questions",conn)

In [40]:
pd.read_sql("select * from user_scores",conn)[['id', 'score', 'student_id', 'exam_id', 'score_situation']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2726 entries, 0 to 2725
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2726 non-null   int64
 1   score            2726 non-null   float64
 2   student_id       2726 non-null   int64
 3   exam_id          2726 non-null   int64
 4   score_situation  2726 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 106.6+ KB

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3936\3169285323.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from user_scores",conn)[['id', 'score', 'student_id', 'exam_id', 'score_situation']].info()

In [30]:
include_know_point = data.groupby('exam_id').apply(lambda x: ",".join(sorted(list(set(x['kno_point'])))))
include_know_point.name = 'include_know_point'

In [26]:
data_2 = pd.read_sql("select * from user_scores",conn)
data_2 = data_2.groupby('exam_id')[['score']].describe()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_3936\1516919752.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data_2 = pd.read_sql("select * from user_scores",conn)

In [34]:
data_2.columns = list(map(lambda x:x[1], data_2.columns))

In [35]:
pd.merge(data_2, include_know_point, on="exam_id")

,count,mean,std,min,25%,50%,75%,max,include_know_point
exam_id,,,,,,,,,
1,301.0,53.720930,9.911367,29.0,47.00,54.0,60.00,85.0,"一元一次方程,一次函数,三角函数,三角形,二次函数,二次根式,几何,分式,反比例函数,平面直..."
2,303.0,52.336634,10.593585,20.0,45.00,52.0,59.00,84.0,"一元一次方程,一元二次方程,三角函数,三角形,二次函数,分式,四边形,实数,平面直角坐标,轴对称"
3,303.0,53.247525,10.225671,30.0,46.50,53.0,60.00,86.0,"一元一次方程,一次函数,三角函数,三角形,不等式,二元一次方程,反比例函数,四边形,实数,轴对称"
4,303.0,52.894389,10.028209,25.0,46.00,54.0,60.00,78.0,"一元二次方程,一次函数,三角函数,三角形,二元一次方程,分式,反比例函数,圆,平面直角坐标,..."
5,304.0,52.506579,10.028341,11.0,46.75,53.0,59.25,78.0,"一元二次方程,一次函数,二次根式,几何,分式,四边形,因式分解,圆,平面直角坐标,概率,轴对称"
6,303.0,52.270627,10.552268,24.0,44.50,52.0,60.00,79.0,"一元二次方程,一次函数,二次函数,反比例函数,四边形,因式分解,圆,实数,平面直角坐标,整式..."
7,303.0,52.412541,10.321878,24.0,46.00,53.0,59.50,80.0,"一元二次方程,三角函数,二元一次方程,二次函数,二次根式,分式,四边形,圆,整式,轴对称"
8,303.0,53.957096,10.682418,20.0,46.00,55.0,61.00,87.0,"一元一次方程,一元二次方程,一次函数,三角函数,三角形,不等式,四边形,实数,平面直角坐标"
9,303.0,52.854785,11.017086,16.0,45.50,53.0,60.00,85.0,"一元一次方程,一元二次方程,三角函数,三角形,二元一次方程,分式,反比例函数,四边形,平面直..."